In [ ]:
#Menu base programme #1)Create table 2)Insert values 3) Read values 4) update values 5)Delete values 6)Invalid

In [5]:

import mysql.connector
import datetime 
from datetime import datetime

now = datetime.now()

class rest():
    def __init__ (self,hostname,username,password,database):
        self.hostname=hostname
        self.username=username
        self.password=password
        self.database=database
    
    def connect(self):
        print("*"*50)
        print(" "*15,end='')
        print("Python Project")
        print("*"*50)
        
        db=mysql.connector.connect(host=self.hostname,username=self.username,password=self.password,database=self.database)
        print("connection succesful")

        while True:
            choice=int(input('1)Create table 2)Insert values 3) Read values 4) update values 5)Delete values 6)Invalid  \nEnter your choice'))
                
            if choice==1:
                sql="create table student1(Name varchar(20),mobile_no varchar(200),stream varchar(20))"
                my_pointer=db.cursor()
                my_pointer.execute(sql)
                p=my_pointer.fetchall()
                for i in p:
                    print(i)
                print("table created successfully")
                db.commit() 
               
            if choice ==2:
                Name=input("enter name")
                mobile_no=input("enter mobile no.")
                stream=input("enter stream")
                sql="insert into student1 values('%s','%s','%s')"%(Name,mobile_no,stream)
                my_pointer=db.cursor()
                my_pointer.execute(sql)
                p=my_pointer.fetchall()
                for i in p:
                    print(i)
                print("table created successfully")
                db.commit()  
                    
            if choice ==3:
                sql="select * from student1"
                my_pointer=db.cursor()
                my_pointer.execute(sql)
                p=my_pointer.fetchall()
                print(p)
                for i in p:
                    print(i)
                    db.close()
          
            if choice ==4:
                mobile_no=input("enter mobile_no")
                sql="update student1 set mobile_no='%s' where Name ='Neeta'"%(mobile_no)
                my_pointer=db.cursor()
                my_pointer.execute(sql)
                p=my_pointer.fetchall()
                print(p)
                try:
                    my_pointer.execute(sql)
                    db.commit()
                except Exception as e:
                    print(e)
                    db.rollback()
                    db.close()
            
            if choice ==5:
                sql="delete from student1 where Name='Ravi' "
                my_pointer=db.cursor()
                my_pointer.execute(sql)
                p=my_pointer.fetchall()
                print(p)
                try:
                    my_pointer.execute(sql)
                    db.commit()
                except Exception as e:
                    print(e)
                    db.rollback()
                    db.close()
                
            if choice ==6:
                print("Invalid")
                break
                
                
       
                      
       
r= rest('localhost','root','amruta95','python')
r.connect()

**************************************************
               Python Project
**************************************************
connection succesful
1)Create table 2)Insert values 3) Read values 4) update values 5)Delete values 6)Invalid
Enter your choice2
enter nameGeeta
enter mobile no.9890414245
enter streamScience
table created successfully
1)Create table 2)Insert values 3) Read values 4) update values 5)Delete values 6)Invalid
Enter your choice3
[('Akash', '9896958545', 'Science'), ('Archana', '9896365241', 'Commerce'), ('Neeta', '9896532454', 'Commerce'), ('Geeta ', '9890414245', 'Science')]
('Akash', '9896958545', 'Science')
('Archana', '9896365241', 'Commerce')
('Neeta', '9896532454', 'Commerce')
('Geeta ', '9890414245', 'Science')
1)Create table 2)Insert values 3) Read values 4) update values 5)Delete values 6)Invalid
Enter your choice6
Invalid